@import "./reset";
@import "./constants";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

body {
  background-color: $off-white;
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* Main Content*/

/* Card */
.card {
  height: 520px;
  width: 750px;
  border-radius: 25px 25px 175px 25px;
  background-color: $white;
  padding: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  form {
    height: 30%;
    display: flex;
    justify-content: flex-start;

    .input {
      margin-right: 25px;

      .title {
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $smokey-grey;
        margin-bottom: 5px;
      }

      input {
        height: 50px;
        width: 145px;
        padding: 12px;
        font-size: $inputs-font-size;
        outline: none;
        border: 1px solid $light-grey;
        border-radius: 5px;
        color: $off-black;
      }

      input:focus {
        outline: 2px solid $purple;
      }

      .error-message {
        padding: 5px 0;
        font-size: 0.75em;
        font-style: italic;
        color: $light-red;
        visibility: hidden;
      }

      .error-color {
        color: $light-red;
      }

      .error-outline {
        outline: 2px solid $light-red;
      }
    }

    button {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-color: $purple;
      outline: none;
      border: none;
      padding: 20px;
      display: grid;
      place-items: center;
      margin-left: 40px;
      position: relative;
      top: 63%;
      cursor: pointer;
      z-index: 2;
    }
  }

  .divider {
    height: 1.5px;
    background-color: $light-grey;
    position: relative;
    bottom: 1.5%;
    width: 90%;
  }

  .output {
    margin-top: 10px;

    span {
      color: $purple;
      font-style: italic;
    }

    p {
      font-size: 5.5em;
      font-style: italic;
      font-weight: bold;
      line-height: 1.1em;
    }
  }
}

/* Footer */
.attribution {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  text-align: center;

  a {
    font-size: 0.9em;
    color: $purple;
  }
}

/* Tablet Screens*/
@media only screen and (max-width: 992px) {
  /* Card */
  .card {
    width: 700px;
    padding: 35px;

    .divider {
      bottom: 3.5%;
    }
  }

  /* Footer */
  .attribution {
    bottom: 7%;
    font-size: 1.2em;

    a {
      font-size: 0.85em;
    }
  }
}

/* Small tablets and Large phones */
@media only screen and (max-width: 768px) {
  /* Card */
  .card {
    width: 520px;
    padding: 25px;

    form {
      .input {
        margin-right: 15px;

        input {
          height: 60px;
        }
      }

      button {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
      }
    }

    .divider {
      bottom: 4%;
      width: 100%;
    }

    .output {
      p {
        font-size: 5em;
      }
    }
  }

  /* Footer */
  .attribution {
    font-size: 1em;

    a {
      font-size: 0.85em;
    }
  }
}

/* Mobile Phones */
@media only screen and (max-width: 576px) {
  /* Card */
  .card {
    width: 380px;
    padding: 50px 25px;

    form {
      .input {
        margin-right: 15px;

        input {
          height: 50px;
          width: 95px;
          font-size: 16px;
          font-size: 24px;
        }
      }

      button {
        height: 70px;
        width: 70px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
      }
    }

    .divider {
      bottom: 4.5%;
      width: 100%;
    }

    .output {
      margin-top: 0;

      p {
        font-size: 3.65em;
      }
    }
  }
}

/* Extra small devices */
@media only screen and (max-width: 404px) {
   /* Card */
   .card {
    height: 425px;
    width: 300px;
    padding: 40px 15px;

    form {
      .input {
        margin-right: 15px;

        input {
          height: 50px;
          width: 80px;
        }
      }

      button {
        height: 70px;
        width: 70px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
      }
    }

    .divider {
      bottom: 4.5%;
      width: 100%;
    }

    .output {
      margin-top: 0;

      p {
        font-size: 2.75em;
      }
    }
  }
}
