@import "./reset";
@import "./constants";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: $off-white;
  display: grid;
  place-items: center;
}

/* Mobile screens (301 - 600) */
.age-calculator-card {
  width: 85%;
  background-color: $white;
  padding: 25px;
  border-radius: 20px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  /* input section */
  form {
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $smokey-grey;

    input {
      width: 90px;
      height: 45px;
      outline: none;
      border: 1px solid $light-grey;
      border-radius: 5px;
      padding-left: 15px;
      font-size: 1.25em;
      font-weight: bold;
      margin: 5px 0;
      cursor: pointer;
    }

    input:focus {
      outline: 2px solid $purple;
    }
  }

  /* divider decorator */
  .decoration {
    margin: 20px 0;
    position: relative;

    .divider {
      position: relative;
      top: 26px;
      background-color: $light-grey;
      height: 1.75px;
      z-index: 1;
    }

    img {
      width: 50px;
      height: 49px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      padding: 12px;
      background-color: $purple;
      z-index: 2;
    }
  }

  /* output section */
  .output {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 54px;
    font-weight: bold;
    font-style: italic;

    span {
      color: $purple;
    }
  }
}

.attribution {
  font-size: 1em;
  text-align: center;

  a {
    color: $purple;
  }
}

/* Extra small devices such as the Samsung Galaxy Fold */
@media only screen and (max-width: 300px) {
  .age-calculator-card {
    padding: 15px;

    // input section
    form {
      font-size: 0.55em;

      input {
        width: 70px;
        height: 35px;
        padding-left: 10px;
        font-size: 1.5em;
      }
    }

    // divider decorator
    .decoration {
      margin: 10px 0;

      .divider {
        top: 21px;
        height: 1.5px;
      }

      img {
        width: 39px;
        height: 39px;
        padding: 11px;
      }
    }

    // output section
    .output {
      font-size: 36px;
    }
  }

  .attribution {
    font-size: 0.75em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .age-calculator-card {
    width: 85%;
    padding: 35px;
  
    /* input section */
    form {
      display: flex;
      justify-content: flex-start;
  
      input {
        width: 120px;
        height: 50px;
        font-size: 2em;
        margin: 5px 15px 5px 0;
      }
    }
  
    /* divider decorator */
    .decoration {
      margin: 20px 0;
  
      .divider {
        top: 32px;
        background-color: $light-grey;
        height: 1.75px;
      }
  
      img {
        width: 60px;
        height: 60px;
        left: 95%;
        padding: 13px;
      }
    }
  
    /* output section */
    .output {
      font-size: 62px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .age-calculator-card {
    width: 65%;
    padding: 35px;
  
    /* input section */
    form {
      justify-content: flex-start;
      font-size: 0.75em;
  
      input {
        width: 120px;
        height: 50px;
        font-size: 2em;
        margin: 5px 20px 5px 0;
      }
    }
  
    /* divider decorator */
    .decoration {
      margin: 25px 0;
  
      .divider {
        top: 40px;
        height: 1.75px;
      }
  
      img {
        width: 81px;
        height: 80px;
        left: 95%;
        padding: 18px;
      }
    }
  
    /* output section */
    .output {
      font-size: 68px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .age-calculator-card {
    width: 60%;
  
    /* input section */
    form {  
      input {
        width: 125px;
        height: 55px;
        font-size: 2.25em;
      }
    }
  
    /* divider decorator */
    .decoration {
      margin: 5px 0;
  
      .divider {
        top: 40px;
        height: 1.5px;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .age-calculator-card {
    width: 55%;
  
    /* input section */
    form {  
      input {
        font-size: 2.5em;
      }
    }
  
    /* output section */
    .output {
      font-size: 78px;
    }
  }
}