@import "./reset";
@import "./constants";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

body {
  background-color: $off-white;
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* Main Content*/
/* Card */
.card {
  height: 68%;
  width: 750px;
  border-radius: 25px 25px 175px 25px;
  background-color: $white;
  padding: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  form {
    height: 30%;
    display: flex;
    justify-content: flex-start;

    .input {
      margin-right: 25px;

      .title {
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $smokey-grey;
      }

      input {
        height: 50px;
        width: 145px;
        padding: 12px;
        font-size: $inputs-font-size;
        outline: none;
        border: 1px solid $light-grey;
        border-radius: 5px;
        color: $off-black;
      }

      input:focus {
        outline: 2px solid $purple;
      }

      .error-message {
        padding: 5px 0;
        font-size: 0.75em;
        font-style: italic;
        color: $light-red;
        visibility: hidden;
      }

      .error-color {
        color: $light-red;
      }

      .error-outline {
        outline: 2px solid $light-red;
      }
    }

    button {
      height: 80px;
      width: 80px;
      border-radius: 500%;
      background-color: $purple;
      outline: none;
      border: none;
      padding: 20px;
      display: grid;
      place-items: center;
      margin-left: 40px;
      position: relative;
      top: 63%;
      cursor: pointer;
      z-index: 2;
    }
  }

  .divider {
    height: 1.5px;
    background-color: $light-grey;
    position: relative;
    bottom: 1.5%;
    width: 90%;
  }

  .output {
    margin-top: 10px;

    span {
      color: $purple;
      font-style: italic;
    }

    p {
      font-size: 5.5em;
      font-style: italic;
      font-weight: bold;
      line-height: 1.1em;
    }
  }
}

/* Footer */
.attribution {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;

  a {
    font-size: 0.9em;
    color: $purple;
  }
}
